@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@if (IsPost)
{
    var login = Request["Login"];
    var password = Request["Password"];

    if (ViewBag.LogIn)
    {
        FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
        Response.Redirect("/MainPage/Index");
    }
    else
    {
        Response.Redirect("/LogInLogOut/Login");
    }
}

<form action="/LogInLogOut/Login" method="post">
    <label for="Login">login:</label>
    <input type="text" name="Login" id="Login" />
    <label for="Password">password:</label>
    <input type="password" name="Password" id="Password" />
    <button type="submit">Log in</button>
</form>
